{%  extends "base.html" %}
{% block content %}

<form class="create" action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <fieldset class="form-group">
        <div class="mb-3">
            {{form.title.label(class="form-label")}}
            {{form.title(class="form-control")}}
        </div>

        <div class="mb-3">
            {{form.content.label(class="form-label")}}
            {{form.content(class="form-control")}}
        </div>

        <div class="mb-3">
            {{form.submit(class="btn btn-outline-info btn-lg")}}
        </div>

    </fieldset>

</form>

{% endblock %}