{% extends "base.html" %} {% block content %}
<section class="main-body">
  <h1>Get Premium free for 1 month</h1>
  <p class="text-2">Only $9.99/month after. Cancel anytime.</p>
  <input class="start" type="button" value="GET STARTED" />
  <input class="plans" type="button" value="VIEW PLANS" />
  <p class="text-3">
    Terms and conditions apply. 1 month free not available for users who have
    already tried Premium.
  </p>
  <div class="img-section">
    <img src="../static/images/creativity.png" alt="" />
  </div>
</section>

<section class="not-main">
  <div class="body">

     <div class="first-list">
        <li class="name">CONTENT</li>
        <li> Authors</li>
        <li>Icons</li>
        <li>Stickers</li>
        <li>Interface icons</li>
        <li>Animated icons</li>
        <li>Logos</li>
     </div>

     <div class="second-list">
        <li class="name">TOOLS</li>
        <li> APIS</li>
        <li>Google Workspace</li>
     </div>

     <div class="third-list">
        <li class="name">HELP </li>
        <li> Support</li>
        <li>FAQs</li>
        <li>Icon styles</li>
        <li>Icons editor</li>
     </div>

     

     
  </div>
</section>

{% endblock %}
