{% extends "base.html" %}
{% block content %}

<div class="inner-content-2">
 <h1>{{post.title}}</h1>
 <a href="">{{post.author.username}}</a>
  {% if post.author == current_user %}
  <form class="button-form" action=""method="POST">
    <a  type="button" class="btn btn-outline-dark" href="{{url_for('auth.update', post_id = post.id)}}"> Update</a>
      
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
  </form>
{% endif %}
 <p>{{post.date_posted.strftime("%Y-%m-%d")}}</p>
 <p>{{post.content}}</p>
</div>
 
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to do this?
        </div>
        <form action="{{url_for('auth.delete_post', post_id = post.id)}}" method="POST">
          <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Yes</button>
        </div></form>
          
      </div>
    </div>
  </div>


{% endblock %}